@model YummyBakesASPNETMVC.Models.Recipe
@{
    ViewBag.Title = Model.Name + " Recipe";
}
<article class="details">
    <header>
        <h2>
            @Model.Name</h2>
        <h3>
            @Model.Author</h3>
    </header>
    <div>
        <img src="~/Content/Images/@Model.LargeImage" />
        <p>@Model.Description</p>
    </div>
    <hr />
    <div class="clock sprite">
        Prep Time:
        @Model.PrepTime
    </div>
    <div class="clock sprite">
        Cook time:
        @Model.CookTime
    </div>
    <div class="yield sprite">
        Yield: @Model.Yield
    </div>
    <hr />
    @Html.Partial("NutritionalFacts", Model.NutritionalFacts)
    <hr />
    @Html.Partial("Ingredients", Model.Ingredients)
    <hr />
    @Html.Partial("Instructions", Model.Instructions)
    <hr />
    @Html.Partial("Reviews", Model.Reviews)
    <hr />
    <div data-role="collapsible" data-theme="e" class="review-collapsible">
        <h3>
            Add Review</h3>
        <form class="review-form" action="@Url.Action("AddReview", "Recipe")">
        <label for="name">
            Name:</label>
        <input type="text" name="name" id="name" value="" class="required" />
        <label for="rating" class="select">
            Rating:</label>
        <div class="starRating"><span class="chosen"></span><span></span><span></span><span></span><span></span></div>
        <label for="name">
            Title:</label>
        <input type="text" name="title" id="title" value="" class="required" />
        <label for="review-body">
            Review:</label>
        <textarea name="textarea" id="review-body" class="required"></textarea>
        <div class="review-button">
            <button type="submit" data-theme="e" id="review-submit">
                Submit</button>
        </div>
        <input type="hidden" value="@Model.Id" id="recipeId"/>
        </form>
    </div>
    <a href="@Model.FoodistaUrl" rel="nofollow">Link to Foodista Source</a>
</article>